.rules {
  &_snoska {
    @extend
    .bg-background-secondary,
    .text-text-main,
    .transition-all,
    .p2,
    .content-visibility-auto;
    padding: 12px 16px;
    border-radius: var(--card-radius);
    background-color: var(--background-teritiary);
    color: var(--text-main);
  }
  &_title {
    font-size: 24px;
    line-height: 24px;
    display: flex;
    gap: 10px;
    align-items: center;
    &_icon {
      font-size: 32px;
      line-height: 32px;
      color: var(--color-rules-icon);
    }
  }
  &_punishment {
    color: var(--color-rules-punishment);
  }
  &_command {
    color: var(--server-command);
    font-weight: 700;
  }
  &_commands {
    li:before {
      content: '' !important;
    }
  }
  > ol {
    margin: 0;
    padding: 0;
    margin-top: 20px;
    counter-reset: item;
    > li {
      display: block;
      & + li {
        margin-top: 40px;
      }
      &.not_num:before {
        content: '';
        counter-increment: item;
      }
      ol {
        @extend
        .bg-background-secondary,
        .text-text-secondary,
        .transition-all;
        counter-reset: item;
        margin: 0;
        padding: 0;
        margin-top: 20px;
        border-radius: var(--card-radius);
        li {
          @extend .p2, .text-text-main;
          transition: .2s;
          padding: 16px;
          display: block;
          counter-increment: item;
          &:before {
            content: counters(item, ".") " ";
          }
          &:nth-of-type(2n) {
            background-color: rgba(228, 218, 209, .05);
          }
        }
      }
    }
  }
}