.servers_page {
  container-type: inline-size;
  &_image {
    height: 150px;
    max-width: 100%;
    position: absolute;
    right: 20px;
    bottom: -8px;
    z-index: 4;
    @container (max-width: 768px) {
      display: none;
    }
  }
  &_items {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  &_item {
    @extend .py-12, .px-16, .bg-background-teritiary, .transition-box-shadow;
    border-radius: var(--card-radius);
    z-index: 2;
    position: relative;
    overflow: hidden;
    //&:before {
    //  @extend .block, .absolute;
    //  content: "";
    //  background: var(--light-background);
    //  bottom: 0;
    //  left: 0;
    //  background-repeat: no-repeat;
    //  background-size: 100% 240px;
    //  min-width: 100%;
    //  max-width: 100%;
    //  width: 100%;
    //  min-height: 240px;
    //  max-height: 240px;
    //  height: 240px;
    //  border-top-left-radius: 8px;
    //  transition: filter 0.25s ease-in-out;
    //}
    &_progress-value {
      @extend .p2, .text-text-main;
    }
    &_progress {
      @extend .block, .rounded-4;
      height: 6px;
      overflow: hidden;
      display: flex;
      &__status {
        color: var(--text-secondary);
        display: none;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
      }
      &__wrap {
        @extend .flex,
        .p-3,
        .bg-background-main,
        .items-center,
        .justify-space-between,
        .rounded-12;
        width: 220px;
        height: 12px;
        @container (max-width: 350px) {
          width: 150px;
        }
      }
      &_players {
        background: var(--base-linear-gradiend);
        height: 6px;
      }
      &_joined {
        background: var(--online);
        height: 6px;
      }
      &_queued {
        background: var(--icon-main);
        height: 6px;
      }
    }
    &_wrap {

    }
    &_header {
      z-index: 3;
      position: relative;
      @extend .flex, .mb-5, .items-center;
      flex-wrap: wrap;
      gap: 12px;
      justify-content: flex-end;
      &_title {
        @extend .text-text-main;
        flex: 1 0;
        white-space: nowrap;
      }
      &_content {
        display: flex;
        gap: 12px;
        align-items: center;
        flex-wrap: wrap;
        justify-content: flex-end;
      }
      &_status {
        @extend .p3, .py-2, .px-8, .text-status-text-color, .bg-status-background-opacity;
        border-radius: var(--status-radius);
      }
    }
    &_labels {
      @extend .mb-3;
      z-index: 3;
      position: relative;
      display: flex;
      gap: 24px;
      flex-wrap: wrap;
      margin-top: 12px;
      align-items: center;
      justify-content: flex-start;
      @media (max-width: 768px) {
        gap: 12px;
        align-items: flex-start;
        justify-content: flex-start;
      }
      &_label {
        @extend .p3, .mb-2, .text-text-secondary;
        display: block;
      }
    }
    &_wipes {
      z-index: 3;
      position: relative;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 24px;
      &_wipe {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        &_label {
          @extend .p1, .mb-2, .text-text-secondary;
          display: block;
        }
        &_date {
          @extend .p1, .text-text-main;
          display: block;
        }
      }
    }
    &_actions {
      align-items: flex-end;
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      margin-top: 5px;
      justify-content: space-between;
      @container (max-width: 768px) {
        justify-content: flex-end;
      }
      &_r {
        @extend .items-center;
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        @container (max-width: 768px) {
          width: 100%;
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
          > a {
            width: 100%;
            text-align: center;
          }
        }
      }
      a {
        @extend .p3, .items-center, .block, .text-text-main;
        padding: 5px 14px;
      }
    }
    &_ip {
      @extend .p3, .mb-3, .items-center, .block, .text-text-main;
      display: inline-flex;
      //border-radius: var(--status-radius);
      //padding: 3px 10px;
      gap: 10px;
      justify-content: flex-end;
      cursor: pointer;
      &_content {}
    }
  }
}