$color_background_body: #202420f2;
$color_success: #006c2e; //#006c2e $color_success
$color_success_brighter: lighten($color_success, 15%); //#2ecc71
$color_success_super_brighter: lighten($color_success, 35%); //#2ecc71
$color_success_dark: darken($color_success, 15%); //#2ecc71
$color_success_dark_dark: #131513; //#151413
$color_success_dark_dark_hover: lighten($color_success_dark_dark, 5%); //#151413

$color_blue: #00536c; //#006c2e $color_success
$color_blue_brighter: lighten($color_blue, 15%); //#2ecc71

$color_dark_lay: rgba(19, 26, 19, 0.3); //#2ecc71

$color_text: #e4dad1;

.exchange {
  display: flex;
  overflow-x: auto;
  justify-content: left;
  &_item {
    display: block;
    margin-left: 10px;
    &_name {
      font-weight: 700;
    }
    &_amount {

    }
  }
}
.wallets_balance {
  display: flex;
  overflow-x: auto;
  justify-content: left;
  &_item {
    display: block;
    margin-left: 10px;
    &_name {
      text-transform: uppercase;
      font-weight: 700;
    }
    &_amount {

    }
  }
}

.dashboard-list-block {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.13), 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  background-color: #fff;
  margin-bottom: 1rem;
  padding: 0.5rem;
  position: relative;
  width: 100%;
}

.dashboard {
  padding-top: 20px;
}

.info_blocks {
  display: flex;
  justify-content: left;
  overflow-x: auto;
  &_item {
    position: relative;
    min-width: 120px;
    padding: 0 10px;
    height: 120px;
    border: 4px solid #000;
    + .info_blocks_item {
      margin-left: 10px;
    }
    &_counter {
      width: 100%;
      margin-top: 25px;
      font-size: 40px;
      line-height: 40px;
      display: block;
      text-align: center;
      font-weight: 700;
    }
    &_text {
      display: block;
      width: 100%;
      margin-top: 5px;
      font-size: 12px;
      line-height: 12px;
      text-align: center;
      font-weight: 700;
    }
  }
}

.fa-phpmyadmin {
  background: url(/phpmyadmin/favicon.ico);
  width: 22px;
  height: 22px;
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: top;
}

.fa-digiu {
  background: url(/images/favicon.ico);
  width: 22px;
  height: 22px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  vertical-align: top;
}

.fa-binaryx {
  background: url(/images/binaryx.png);
  width: 22px;
  height: 22px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  vertical-align: top;
}

.fa-eywa {
  background: url(/images/eywa.png);
  width: 22px;
  height: 22px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  vertical-align: top;
}

.fa-wealth {
  background: url(/images/wealth.png);
  width: 22px;
  height: 22px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  vertical-align: top;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px 0;
  margin: 0;
  li {
    > span {
      padding: 8px 16px;
    }
    &:hover:not(.active) {
      a {
        background-color: #ddd;
        border-radius: 5px;
      }
    }
    a {
      color: black;
      float: left;
      padding: 8px 16px;
      text-decoration: none;
    }
    &.active {
      a {
        background-color: #007bff;
        color: white;
        border-radius: 5px;
      }
    }
  }
}

.grid-view {
  .summary {
    text-align: right;
    padding: 5px 0;
  }
}
.content-header {
  border-bottom: 1px solid #dee2e6;
}

.content-wrapper>.content {
  padding: 20px;
}
.content-wrapper {
  background: hsl(0 0% 7.8% / 1);
}
.alert {
  border-radius: 0;
  padding: 10px;
  font-size: 12px;
  text-align: center;
  .btn-close {
    display: none;
  }
  &.alert-success {
    color: $color_success_brighter;
    border: 1px solid $color_success_brighter;
    background-color: $color_success;
  }
  &.alert-danger {
    color: lighten(#ffbaba, 15%);
    border: 1px solid lighten(#6c0000, 15%);
    background-color: #6c0000;
  }
}
#toast-container {
  > .toast {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, .4);
    padding: 0;
    opacity: 0.8;
    &.toast-success {
      background: #1f9e12;
      background-image: none !important;
    }
    &.toast-error {
      background: #e26a6a;
      background-image: none !important;
    }
    .toast-message {
      padding: 10px;
      display: flex;
      font-size: 28px;
      line-height: 28px;
      align-items: center;
      justify-content: flex-start;
      gap: 15px;
      &_text {
        font-size: 14px;
        line-height: 14px;
      }
    }
  }
}

.telegram_message_buttons_wrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}
.telegram_message_buttons_wrap .add {
  font-size: 14px;
  padding: 10px 15px;
  margin-right: 5px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  border-radius: 20px;
  position: relative;
  border: 0;
  text-decoration: none;
}
.telegram_message_buttons_wrap .add:hover {
  background: rgba(0, 0, 0, 0.9);
}
.telegram_message_buttons {
  display: flex;
  flex-wrap: wrap;
}
.telegram_message_buttons_item {
  margin-right: 5px;
  background: rgba(0, 0, 0, 0.38);
  color: #fff;
  border-radius: 20px;
  position: relative;
  cursor: move;
}
.telegram_message_preview_buttons_item {
  margin-right: 5px;
  background: rgba(0, 0, 0, 0.38);
  color: #fff;
  border-radius: 20px;
  position: relative;
}
.telegram_message_preview_buttons_item .telegram_message_buttons_item_title {
  font-size: 14px;
  padding: 10px 15px;
}
.telegram_message_buttons_item .telegram_message_buttons_item_title {
  font-size: 14px;
  padding: 10px 15px;
  padding-right: 30px;
}
.telegram_message_buttons_item .telegram_message_buttons_item_action a {
  font-size: 10px;
  color: #fff;
  display: none;
}
.telegram_message_buttons_item_delete {
  position: absolute;
  top: 3px;
  right: 10px;
  display: block;
  color: #fff;
  font-weight: 700;
  line-height: 20px;
  font-size: 20px;
  text-decoration: none;
}
.telegram_message_buttons_item_update {
  position: absolute;
  bottom: 3px;
  right: 10px;
  display: block;
  color: #fff;
  font-weight: 700;
  line-height: 20px;
  font-size: 10px;
  text-decoration: none;
}
.telegram_message_buttons_item_delete:hover,
.telegram_message_buttons_item_delete:focus,
.telegram_message_buttons_item_update:hover,
.telegram_message_buttons_item_update:focus{
  text-decoration: none;
  color: #fff;
  opacity: 0.6;
  outline: none;
}
.field-telegramconstructormessageform-message .tox-tinymce {
  border: none;
  box-shadow: none;
  background: none;
}
.tg-preview_wrap {
  background: rgb(219,221,187);
  background: linear-gradient(49deg, rgba(219,221,187,1) 0%, rgba(107,165,135,1) 27%, rgba(213,216,141,1) 55%, rgba(136,184,132,1) 100%);
  width: 700px;
  /*height: 800px;*/
  overflow-y: scroll;
  position: relative;
  border-radius: 20px;
  margin-bottom: 20px;
}
.tg-preview {
  padding: 20px;
  z-index: 1;
  position: relative;
}
.tg-preview_bg {
  background: url("/images/tg-constructor/bg.png");
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.3;
  z-index: 0;
}
.tg-preview-image {
  max-width: 100%;
  display: block;
}
.tg-preview_message_body {
  padding: 20px;
  padding-bottom: 10px;
}
.tg-preview_message {
  background: #fff;
  border-radius: 20px;
  width: 600px;
  overflow: hidden;
  display: none;
}
.tg-preview_message.active {
  display: block;
}
.tg-preview_message .file-preview  {
  padding: 0;
  border: none;
  margin: 0;
}
.tg-preview_message .file-preview .fileinput-remove {
  top: 10px;
  right: 10px;
  line-height: 10px;
  z-index: 2;
  opacity: 1;
}
.tg-preview_message .file-input-ajax-new .fileinput-remove {
  display: none;
}
.tg-preview_message .file-preview .file-drop-zone {
  padding: 0;
  border: none;
  margin: 0;
}
.tg-preview_message .file-preview .file-preview-frame {
  padding: 0;
  border: none;
  margin: 0;
  box-shadow: none;
}

.tg-preview_message .file-preview .krajee-default.file-preview-frame .kv-file-content {
  padding: 0;
  border: none;
  margin: 0;
  width: auto;
  height: auto;
}
.tg-preview_message .file-preview .krajee-default.file-preview-frame .file-thumbnail-footer {
  display: none;
}
.tg-preview_message .file-input {
  position: relative;
}
.tg-preview_message .file-caption {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.tg-preview_message .file-caption .input-group,
.tg-preview_message .file-caption .input-group-btn,
.tg-preview_message .file-caption .btn-file {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  height: 100%;
}
.tg-preview_message #telegramconstructormessageform-image_file {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.tg-preview_message .form-group {
  padding: 0;
  border: none;
  margin: 0;
}
.tg-preview_message .krajee-default.file-preview-frame:not(.file-preview-error):hover {
  padding: 0;
  border: none;
  margin: 0;
  box-shadow: none;
}

.tg-preview_wrap::-webkit-scrollbar {
  width: 6px;
}

.tg-preview_wrap::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 100px;
}

.tg-preview_wrap::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.34);
  border-radius: 100px;
}

.counters-list {
  margin-bottom: 10px;
}
.counters-list h3 {
  margin-top: 0;
}
.counters-list h5 {
  margin-top: 0;
}
.header-menu .navbar-nav {
  font-size: 13px;
}
.header-menu .navbar-nav.nav > li > a {
  padding-left: 5px;
  padding-right: 5px;
}

.audience-info-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
}

.none {
  display: none;
}

.checkbox_block {
  display: flex;
  justify-content: space-between;
}

[type=checkbox]+span>.icons_switch_on {
  display: none;
}

[type=checkbox]:checked+span>.icons_switch_on {
  display: block;
}
[type=checkbox]:checked+span>.icons_switch_off {
  display: none;
}

.icons_switch {
  width: 36px;
  height: 20px;
  max-width: 36px;
  max-height: 20px;
  min-width: 36px;
  min-height: 20px;
  display: block;
}

.icons_switch_on{
  background:url("data:image/svg+xml,%3csvg%20width='36'%20height='20'%20viewBox='0%200%2036%2020'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3e%3crect%20width='36'%20height='20'%20rx='10'%20fill='url(%23paint0_linear_1139_3573)'/%3e%3ccircle%20cx='26'%20cy='10'%20r='8'%20fill='%23ECE4F3'/%3e%3cdefs%3e%3clinearGradient%20id='paint0_linear_1139_3573'%20x1='0'%20y1='10'%20x2='36'%20y2='10'%20gradientUnits='userSpaceOnUse'%3e%3cstop%20offset='0.5'%20stop-color='%23EB0C35'/%3e%3cstop%20offset='1'%20stop-color='%23FF6134'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e") no-repeat center;
}
.icons_switch_off{
  background:url("data:image/svg+xml,%3csvg%20width='36'%20height='20'%20viewBox='0%200%2036%2020'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3e%3crect%20opacity='0.5'%20width='36'%20height='20'%20rx='10'%20fill='%23564A66'/%3e%3ccircle%20cx='10'%20cy='10'%20r='8'%20fill='%23ECE4F3'/%3e%3c/svg%3e") no-repeat center;
}
.body, .content-header, .main-header, .main-footer {
  color: hsl(0 0% 94.9% / 1);
  background: hsl(0 0% 15.3% / 1);
  border-color: hsl(0 0% 7.8% / 1);
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(255, 255, 255, .7);
  &:hover {
    color: rgba(255, 255, 255, 1);
  }
}
.breadcrumb {
  a {
    color: hsl(0 0% 94.9% / 1);
    text-decoration: none;
  }
  .breadcrumb-item {
    &.active {
      color: rgba(255, 255, 255, .7);
    }
    & + .breadcrumb-item::before {
      color: hsl(0 0% 94.9% / 1);
    }
  }
}
.setting {
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: hsl(0 0% 94.9% / 1);
  &_header {
    h2 {
      font-weight: 500;
      --tw-text-opacity: 1;
      color: hsl(var(--twc-grey-50) / var(--twc-grey-50-opacity, var(--tw-text-opacity)));
      font-size: 1.125rem;
      line-height: 1.75rem;
    }
  }
  &_items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    &_actions {

    }
    &_wrap {
      display: flex;
      flex-direction: column;
      gap: 10px;
      &_wrap {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    }
    &_item  {
      padding: .625rem;
      border-radius: .375rem;
      background: hsl(0 0% 15.3% / 1);
      display: grid;
      grid-template-columns: repeat(1, minmax(0, 1fr));
      max-width: 800px;
      &_block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: .625rem;
        margin: 0;
        &_text {
          display: flex;
          flex-direction: column;
          gap: 3px;
          margin: 0;
        }
        &_name {
          display: flex;
          align-items: center;
          flex: 1 0;
          justify-content: space-between;
          gap: 10px;
          color: hsl(0 0% 55.3% / 1);
          font-weight: 400;
          --tw-text-opacity: 1;
          font-size: 1rem;
          line-height: 1.5rem;
        }
        &_image {
          img {
            display: block;
            height: 30px;
          }
        }
        &_code {
          font-weight: 300;
          padding: 5px;
          --tw-text-opacity: 1;
          font-size: 0.75rem;
          line-height: 1.25rem;
          background: hsl(0 0% 11.8% / 1);
          color: hsl(0 0% 94.9% / 1);
          border-radius: .375rem;
        }
      }
    }
  }
}
.content {
  .form-control {
    background: hsl(0 0% 11.8% / 1);
    color: hsl(0 0% 94.9% / 1);
    border-radius: .375rem;
    border: none;
    outline: none;
    box-shadow: none;
    &:focus {
      background: hsl(0 0% 11.8% / 1);
      color: hsl(0 0% 94.9% / 1);
      border: none;
      outline: none;
      box-shadow: none;
    }
  }
  .btn {
    width: fit-content;
    padding: .375rem .5rem;
    font-size: .875rem;
    line-height: 1.25rem;
    border-radius: .25rem;
    border: none;
    &.btn-primary {
      background-color: hsl(0 0% 17.6% / 1);
      color: hsl(0 0% 55.3% / 1);
      &:hover {
        background-color: hsl(0 0% 20.4% / 1);
        color: hsl(0 0% 55.3% / 1);
      }
    }
  }
}