// Стили для блока ежедневной награды
// Мигрированы из frontend/assets/sources/css/design/_daily-reward.scss

.daily-reward {
  padding-top: 52px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  position: relative;
  background-color: var(--background-secondary);
  border-radius: var(--block-radius);
  min-width: 420px;
  width: 420px;
  min-height: 390px;
  overflow: hidden;
  container-type: size;

  @container (max-width: 1200px) {
    min-width: 350px;
    width: 350px;
  }

  @container (max-width: 927px) {
    width: 100%;
    min-width: 100%;
  }

  &:before {
    display: block;
    position: absolute;
    width: 286px;
    height: 286px;
    max-width: 286px;
    max-height: 286px;
    min-width: 286px;
    min-height: 286px;
    content: "";
    background: var(--light-background);
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: 286px 286px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
  }

  &__title {
    margin-bottom: 32px;
    color: var(--text-main);
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
  }

  &__description {
    display: grid;
    position: relative;
    color: var(--text-main);
    gap: 16px;
    z-index: 1;
  }

  &__image {
    position: absolute;
    object-fit: contain;
    width: 211px;
    height: 218px;
    right: -2px;
    bottom: -4px;
  }

  & .button {
    position: absolute !important;
    bottom: 40px;
    left: 40px;
  }

  @container (max-height: 290px) {
    .daily-reward__image {
      right: -2px;
      bottom: -4px;
    }
  }

  @container (min-height: 290px) {
    .daily-reward__image {
      right: -35px;
      bottom: -23px;
    }
  }

  @container (min-width: 421px) {
    .daily-reward__image {
      right: -35px;
      bottom: -23px;
    }
  }

  // Скрываем блок на мобильных устройствах
  @media (max-width: 768px) {
    display: none !important;
  }
}
