// Стили для поля поиска
// Мигрированы из frontend/assets/sources/css/design/_search.scss

.search,
.filters .form-control {
  font-size: 16px;
  padding: 12px 20px;
  color: var(--text-main);
  background-color: var(--background-main);
  transition: border-color 0.25s ease-in-out;
  border-radius: var(--card-radius);
  height: 48px;
  width: 100%;
  border: 1px solid var(--border-color-default);
  outline: unset;

  &:hover {
    border-color: var(--border-color-hover);
  }

  &:active,
  &:focus {
    border-color: var(--border-color-active);
  }

  &::placeholder {
    font-size: 16px;
    color: var(--text-secondary);
  }

  &_pay {
    background-color: transparent;
    position: relative;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    & + .icons_16px {
      position: absolute;
      transition: transform 0.25s ease-in-out;
      top: 16px;
      bottom: 16px;
      right: 20px;
      transition-duration: 0.5s;
    }

    &:hover {
      & + .icons_16px {
        transform: rotateY(360deg);
      }
    }
  }
}
