$spin-duration: 2.5s;
$spin-easing: cubic-bezier(0, 0.4, 0.4, 1.025);

$size_roulette: 400px;
$button-size: 12em;

$D: $size_roulette;
$R: $size_roulette*0.5;

.game_roulette {
  display: block;
  position: relative;
  width: $size_roulette;
  height: $size_roulette;
  margin: 40px auto 0 auto;
  .shadow {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    box-shadow: 0 .3em 0 rgba(0, 0, 0, .25) inset;
  }

  .markers {
    display: block;
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    overflow: hidden;
    border-radius: 100%;

    .marker {
      position: absolute;
      width: 0;
      height: 0;
      top: -1*$R;
      left: $R;
      transform-origin: 0% $D;
      border: 0 solid transparent;
    }

    .triangle {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 1em 1em 1em;
      border-color: transparent transparent #ffffff transparent;
      position: absolute;
      border-top-color: #fff;
      left: 50%;
      bottom: -1px;
      margin-left: -1em;
      filter: drop-shadow(0 0.25em 0 rgba(0, 0, 0, 0.25));

    }

  }

  .spinner {

    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    overflow: hidden;
    transform: rotateZ(0deg);
    /*performance boost*/
    backface-visibility: hidden;

    .item {

      position: absolute;
      width: 0;
      height: 0;
      top: -1*$R;
      left: $R;
      transform-origin: 0% $D;

      border: 0 solid transparent;

      .label {
        display: block;
        position: absolute;
        color: #FFF;
        font-weight: 800;
        top: 0;
        left: 0;
        white-space: nowrap;
        transform-origin: 0 0;
        font-size: .8em;
        .avatar {
          display: inline-block;
          vertical-align: middle;
          border-radius: 50%;
          background-image: url(https://ezdrop.pro/uploads/avatar/steam/76561199259890813.png);
          background-size: cover;
          background-position: center center;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
        }

        i {
          margin-right: 0.1em;
        }

      }
    }

  }

  .button {
    width: 10em;
    height: 10em;
    line-height: 10em;
    top: 50%;
    left: 50%;
    margin-left: -5em;
    margin-top: -5em;
    font-weight: 800;
    z-index: 998;
    position: absolute;
    background: $color_background_body;
    border: none;
    border-radius: 100%;
    outline: none;
    color: darken($color_background_body, 1%);
    cursor: pointer;
    user-select: none;
    box-shadow: 0 .4em 0 rgba(0, 0, 0, .25);;
    text-align: center;
    transition: transform 0.15s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .button:hover {
    color: #999;
  }

  .button span {
    font-size: 1.6em;
    letter-spacing: -0.05em;
  }

  &.busy .button {
    transform: scale(0.9);
    box-shadow: 0 .15em 0 rgba(0, 0, 0, .25);
    color: #999;
    cursor: default;
  }

}

/* CUSTOM LABELS */
.game_roulette {
  .spinner {
    .item[data-type="quiz"] .label {
      font-size: 1.5em;
    }

    .item[data-type="question"] .label {
      font-size: 1.3em;
      font-weight: 600;
    }

    .item[data-type="time"] .label {
      i {
        font-size: 1.5em;
      }
    }
  }
}