.daily-reward {
  @extend .pt-52, .px-40, .pb-40, .relative, .bg-background-secondary;
  border-radius: var(--block-radius);
  min-width: 420px;
  width: 420px;
  min-height: 390px;
  overflow: hidden;
  container-type: size;
  @container (max-width: 1200px) {
    min-width: 350px;
    width: 350px;
  }
  @container (max-width: 927px) {
    width: 100%;
    min-width: 100%;
  }
  &:before {
    @extend .block, .absolute;
    @include range(286, 286, "px");
    content: "";
    background: var(--light-background);
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: 286px 286px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
  }

  &__title {
    @extend .mb-32, .text-text-main;
  }
  &__description {
    @extend .grid, .relative, .text-text-main, .gap-y-16;
    z-index: 1;
  }

  &__image {
    @extend .absolute, .object-contain;
    width: 211px;
    height: 218px;
    right: -2px;
    bottom: -4px;
  }

  & .button {
    position: absolute !important;
    bottom: 40px;
    left: 40px;
  }

  @container (max-height: 290px) {
    .daily-reward__image {
      right: -2px;
      bottom: -4px;
    }
  }
  @container (min-height: 290px) {
    .daily-reward__image {
      right: -35px;
      bottom: -23px;
    }
  }
  @container (min-width: 421px) {
    .daily-reward__image {
      right: -35px;
      bottom: -23px;
    }
  }
}
