$sides: "", "-top", "-right", "-bottom", "-left";
$spaceamounts: 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 18, 20, 22, 24, 26, 28, 30, 32,
  36, 40, 42, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84;

@each $space in $spaceamounts {
  @each $side in $sides {
    .p#{str-slice($side, 2, 2)}-#{$space} {
      padding#{$side}: #{$space}px;
    }
    .px-#{$space} {
      padding-left: #{$space}px;
      padding-right: #{$space}px;
    }
    .py-#{$space} {
      padding-top: #{$space}px;
      padding-bottom: #{$space}px;
    }
  }
}
