// Text Transform
.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

.normal-case {
  text-transform: normal-case;
}

// Text Decoration
.underline {
  text-decoration: underline;
}

.line-through {
  text-decoration: line-through;
}

.no-underline {
  text-decoration: none;
}

// Text Alignment
.text {
  &-left {
    text-align: left;
  }
  &-center {
    text-align: center;
  }
  &-right {
    text-align: right;
  }
  &-justify {
    text-align: justify;
  }
}

// Font weight
.font {
  &-normal {
    font-weight: 400 !important;
  }
  &-medium {
    font-weight: 500 !important;
  }
  &-bold {
    font-weight: 700 !important;
  }
}
