.header {
  @extend .flex, .pt-20, .pr-24, .pb-20, .pl-32, .items-center, .justify-space-between;
  height: 76px;
  border-bottom: 1px solid var(--border-color-default);
  grid-column-start: 1;
  grid-column-end: 4;

  &__actions {
    @extend .flex, .gap-x-8;
  }

  @media (max-width: 768px) {
    padding-left: 12px;
    padding-right: 12px;
    .header__actions .language {
      display: none;
    }
    .header__actions .header__promocode {
      display: none;
    }
  }
}
