$color_background_body: #17171f;


//@import 'battle/game';

body {
  position: relative;
  min-height: 100%;
  font-size: 14px;
  font-family: "Gotham", "Rouble", -apple-system, BlinkMacSystemFont, Arial, sans-serif;
  background-color: var(--gen-body-background);
  -webkit-overflow-scrolling: touch;
  background-repeat: repeat;
  background-image: var(--gen-body-background-image);
  &.shadow {
    &:after {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
      display: block;
      z-index: 4;
      background-color: var(--gen-blog-item-background);
    }
  }
}

a {
  color: var(--gen-a-color);
  text-decoration: none;
  transition: all .3s ease;
  &:hover {
    color: var(--gen-a-color);
    opacity: 0.7;
  }
}

.modal.modal-alert {
  .modal-dialog {
    background: transparent;
    .modal-header {
      background: fade-out(darken($color_background_body, 1%),  0.2);
      border-bottom: none;
      .modal-title {
        font-weight: 700;
        font-size: 14px;
        z-index: 1;
        color: #e2e3e7;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        text-transform: uppercase;
      }
    }
    .modal-content {
      text-align: center;
      background: transparent;
      .modal-body {
        background: fade-out($color_background_body,  0.2);
        p {
          color: #e2e3e7;
        }
        .btn {
          position: relative;
          height: 100%;
          padding: 8px 25px;
          color: var(--gen-button-text);
          font-weight: 700;
          font-size: 13px;
          text-transform: uppercase;
          background-color: var(--gen-button);
          border-radius: 8px;
          transition: background-color .3s ease,color .3s ease;
          overflow: hidden;
          outline: none;
          + .btn {
            margin-left: 20px;
          }
          &.cancel {
            background-color: #ba4b4b;
            &:hover {
              color: #683333;
              background-color: #e26a6a;
            }
          }
          &:hover {
            color: #684933;
            background-color: #fac26f;
          }
        }
      }
    }
  }
}

.btn {
  position: relative;
  height: 100%;
  padding: 10px 20px;
  color: var(--gen-button-text);
  font-weight: 500;
  font-size: 11px;
  text-transform: uppercase;
  background-color: var(--gen-button);
  border-radius: 8px;
  display: inline-block;
  transition: background-color .3s ease,color .3s ease;
  border: 1px solid var(--gen-button-text);
  &:hover {
    color: var(--gen-button);
    background-color: var(--gen-button-text);
    border-color: var(--gen-button-text);
  }
}

.modal {
  z-index: 99999;
}

.breadcrumbs_wrap {
  background: var(--gen-breadcrumbs);
  .breadcrumb-item + .breadcrumb-item::before {
    color: rgba(255, 255, 255, 0.74);
    padding: 0;
    padding-right: 10px;
    padding-left: 10px;
    float: none;
  }
  nav {
    ol {
      margin: 20px 0;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      list-style: none;
      li {
        white-space: nowrap;
        list-style: none;
        display: flex;
        align-items: center;
        padding: 0 !important;
        &:last-of-type {
          //text-overflow: ellipsis;
          //white-space: nowrap;
          //overflow: hidden;
          //width: 400px;
          color: #f1f1f1;
          padding-left: 0;
        }
        a {
          display: block;
          white-space: nowrap;
          margin-left: 0;
        }
      }
    }
  }
}
@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    opacity: 0.6;
  }

  70% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(0.95);
    opacity: 0.6;
  }
}
.header {
  background-color: var(--gen-header-background);
  color: var(--gen-header-color);
  border-bottom: 1px solid rgba(146, 156, 165, .3);
  position: relative;
  z-index: 5;
  &_start {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    &_wrapper {
      background-color: var(--gen-header-top-background);
      color: var(--gen-header-top-color);
    }
    &_left {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      &_menu {
        margin-right: 10px;
        display: none;
        color: var(--gen-logo-color);
        background: var(--gen-logo-background);
        justify-content: center;
        align-items: center;
        padding: 5px;
        &:hover {
          color: #fff;
          box-shadow: inset 0 0 15px rgba(255, 255, 255, 0.5);
          opacity: 1;
        }
        @media (max-width: 768px) {
          display: flex;
        }
        &_icon {
          fill: currentColor;
          overflow: hidden;
          stroke: inherit;
          width: 21px;
          height: 21px;
        }
      }
      &_logo {
        color: var(--gen-logo-color);
        display: block;
        background: var(--gen-logo-background);
        padding: 5px;
        font-weight: 700;
        position: relative;
        box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.6);
        transition: 0.3s;
        > span {
          position: relative;
          z-index: 2;
        }
        &:hover {
          color: #fff;
          box-shadow: inset 0 0 15px rgba(255, 255, 255, 0.5);
          opacity: 1;
        }
      }
      &_online_counter {
        margin-left: 10px;
        display: flex;
        align-items: center;
        &:before {
          content: '';
          background: url(/images/icons/online.svg) no-repeat;
          display: block;
          width: 32px;
          height: 32px;
          animation: pulse 2s infinite;
        }
        > span {
          margin-left: 5px;
          color: #358253;
          font-weight: 700;
        }
      }
      .header_auth_menu {
        display: none;
        @media (max-width: 768px) {
          display: block;
        }
      }
    }
    &_right {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      &_language {
        margin-left: 20px;
        .language-picker {
          display: block;
          > div {
            a {
              display: flex;
              align-items: center;
              color: #fff;
              font-size: 12px;
              text-transform: uppercase;
              > i {
                margin-right: 4px;
              }
            }
            > a {
              color: var(--gen-header-top-color);
            }
          }
          &.dropdown-list {
            div {
              ul {
                background: rgba(0, 0, 0, 0.55);
              }
            }
          }
        }
      }
    }
  }
  &_nav {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    @media (max-width: 768px) {
      display: none;
      position: absolute;
      top: 51px;
      left: 0;
      right: 0;
      background-color: var(--gen-blog-item-background);
      color: var(--gen-header-color);
      z-index: 9;
    }
    &_left {
      display: flex;
      justify-content: flex-start;
      @media (max-width: 768px) {
        display: block;
      }
      &_menu {
        padding: 0;
        margin: 0;
        @media (max-width: 768px) {
          display: block;
        }
        > li {
          padding: 0;
          margin: 0;
          > a {
            margin: 0;
            padding: 20px 10px;
            font-size: .875rem;
            line-height: 1rem;
            color: var(--gen-header-color);
            &:hover, &:focus, &:active {
              color: color-mix(in srgb, var(--gen-header-color), #000 10%);
            }
            @media (max-width: 768px) {
              padding: 10px 10px;
            }
          }
          &:first-of-type {
            > a {
              @media (min-width: 768px) {
                padding-left: 0;
              }
            }
          }
          .dropdown-menu {
            background-color: var(--gen-blog-item-background);
            @media (max-width: 768px) {
              position: relative !important;
              transform: none !important;
              background: transparent;
              padding-left: 20px;
              padding-top: 0;
            }
            > a {
              color: var(--gen-blog-item-color);
              @media (max-width: 768px) {
                margin: 0;
                padding: 10px 10px;
                font-size: .875rem;
                line-height: 1rem;
                color: var(--gen-header-color);
              }
              &:hover {
                background-color: var(--gen-blog-item-color);
                color: var(--gen-blog-item-background);
                @media (max-width: 768px) {
                  color: var(--gen-header-color);
                  background: transparent;
                }
              }
            }
          }
        }
      }
    }
    &_right {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      &_icon {
        fill: currentColor;
        overflow: hidden;
        stroke: inherit;
        width: 26px;
        height: 26px;
      }
      @media (max-width: 768px) {
        display: block;
        .header_auth_menu {
          display: none;
        }
      }
    }
  }
}
.header_auth_menu {
  padding: 0;
  margin: 0;
  > li {
    > a {
      margin: 0;
      padding: 0;
      font-size: .875rem;
      line-height: 1rem;
      color: var(--gen-header-color);
      &:hover, &:focus, &:active {
        color: color-mix(in srgb, var(--gen-header-color), #000 10%);
      }
      @media (max-width: 768px) {
        padding: 10px 10px;
      }
    }
  }
}

main {
  padding: 0 0 20px;
}
.main_header {
  box-sizing: border-box;
  margin-bottom: 12px;
  padding: 16px 20px;
  background-color: var(--gen-blog-item-background);
  color: var(--gen-blog-item-color);
  border-radius: 10px;
  h1 {
    font-weight: 500;
    overflow-x: auto;
    word-break: break-word;
    margin: 0 0 8px;
    padding: 0 0 12px;
    font-size: 2em;
    border-bottom: 1px solid color-mix(in srgb, var(--gen-blog-item-background), #fff 20%);
  }
  &_data {
    display: flex;
    justify-content: space-between;
    &_filter {
      display: flex;
      .sorter {
        display: flex;
        padding: 0;
        margin: 0;
        list-style: none;
        > li {
          list-style: none;
          &:first-of-type {
            > a {
              padding-left: 0;
            }
          }
          > a {
            padding: 20px 10px;
            font-size: .875rem;
            line-height: 1rem;
            color: var(--gen-header-color);
            position: relative;
            &:after {
              content: '';
              width: 20px;
              height: 20px;
              display: block;
              background-size: contain;
              background-repeat: no-repeat;
              position: absolute;
              top: 50%;
              margin-top: -10px;
              right: 0;
            }
            &.desc {
              padding-right: 25px;
              &:after {
                background-image: url('/images/icons/desc.svg');
              }
            }
            &.asc {
              padding-right: 25px;
              &:after {
                background-image: url('/images/icons/asc.svg');
              }
            }
          }
        }
      }
      > a {
        color: var(--gen-blog-item-color);
      }
    }
    &_list {
      display: flex;
      > a {
        color: var(--gen-blog-item-color);
      }
    }
  }
}

footer {
  font-size: .9em;
  padding: 20px 0;
  background-color: var(--gen-footer);
  color: var(--gen-footer-text);
}

.content_wrapper  {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  @media (max-width: 768px) {
    display: block;
  }
  &_reverse {
    .content {
      margin-left: 16px;
      margin-right: 0;
      @media (max-width: 768px) {
        margin-left: 0;
      }
    }
  }
  .content {
    flex: 1 0;
    margin-right: 16px;
    @media (max-width: 768px) {
      margin-right: 0;
    }
    img {
      max-width: 100%;
      border-radius: 10px;
    }
  }
  .side {
    width: 300px;
    @media (max-width: 768px) {
      width: 100%;
      margin-top: 20px;
    }
    &_container {
      //position: sticky;
      //top: 15px;
    }
  }
}

.blog_item {
  background-color: var(--gen-blog-item-background);
  box-sizing: border-box;
  margin-bottom: 12px;
  padding: 16px 20px;
  color: var(--gen-blog-item-color);
  border-radius: 10px;
  &_snippet {
    &_meta {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      margin: 0 0 8px;
      &_author {
        margin: 0 5px 0 0;
        display: flex;
        &_userpic {
          border-radius: 3px;
          display: inline-block;
          flex-shrink: 0;
          margin: 0 8px 0 0;
          max-width: 100%;
          overflow: hidden;
          vertical-align: middle;
          &_image {
            height: 100%;
            width: 100%;
            img {
              border-radius: 3px;
              display: block;
              overflow: hidden;
              width: 24px;
              height: 24px;
            }
          }
        }
        &_user {
          gap: 4px;
          &_username {
            font-size: .8125rem;
            font-weight: 700;
            line-height: .9375rem;
            text-decoration: none;
            color: var(--gen-blog-item-color);
          }
          &_published {
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            color: #909090;
            display: inline-block;
            font-size: .8125rem;
            font-weight: 500;
            line-height: .9375rem;
            margin: 0;
            vertical-align: middle;
          }
        }
      }
    }
  }
  &_container {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
  }
  &_title {
    font-weight: 700;
    overflow-x: auto;
    word-break: break-word;
    margin: 0 0 8px;
    font-size: 1.75rem;
    > a {
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      color: color-mix(in srgb,var(--gen-blog-item-color), #000 20%);
      font-weight: 500;
      font-size: 1.25rem;
      line-height: 1.3;
      text-decoration: none;
    }
  }
  &_categories {
    font-size: 12px;
    > a {
      color: var(--gen-blog-item-color);
    }
  }
  &_body {
    box-sizing: border-box;
    padding-top: 16px;
    &_cover {
      margin-bottom: 20px;
      max-width: 100%;
      object-fit: cover;
      height: 400px;
      position: relative;
      width: 100%;
      > img {
        height: 100%;
        object-fit: cover;
        position: absolute;
        width: 100%;
        object-position: 50% 50%;
      }
    }
    &_text {
      color: color-mix(in srgb,var(--gen-blog-item-color), #000 10%);
      font-size: 1rem;
      line-height: 1.56;
      overflow-wrap: break-word;
      margin-bottom: 10px;
      h2 {
        font-weight: 700;
        font-size: 1.25rem;
      }
      h3 {
        font-weight: 700;
        font-size: 1rem;
      }
      * + h2 {
        margin-top: 2rem;
      }
      * + h3 {
        margin-top: 1.5rem;
      }
      * + p {
        margin-top: 0.75rem;
      }
    }
    &_readmore {

    }
  }
  &_data {
    align-items: center;
    display: flex;
    margin-top: 32px;
    &_item {
      margin-left: 32px;
      align-items: center;
      display: flex;
      &:first-of-type {
        margin-left: 0;
      }
      .blog_item_data_item_icon_wrapper {
        color: var(--gen-blog-item-data-color);
        font-size: 12px;
        align-items: center;
        display: flex;
        outline: none;
        border: none;
        background: none;
        padding: 0;
        margin: 0;
        > span {
          display: block;
          margin-left: 5px;
          color: color-mix(in srgb,var(--gen-blog-item-data-color), #000 40%);
          font-weight: 700;
        }
      }
      &_counter {
        margin: 0 2px;
        color: color-mix(in srgb,var(--gen-blog-item-data-color), #000 40%);
        font-weight: 700;
        &.plus {
          color: #7aa600;
        }
        &.minus {
          color: #d04e4e;
        }
      }
      &_icon {
        fill: currentColor;
        overflow: hidden;
        stroke: inherit;
        width: 20px;
        height: 20px;
      }
    }
  }
}

.bookmarks-button__icon {
  color: #bbcdd6;
  width: 24px;
  height: 24px;
}

.list-view {
  .pagination {
    background-color: var(--gen-blog-item-background);
    box-sizing: border-box;
    margin-bottom: 12px;
    padding: 10px 20px;
    color: var(--gen-blog-item-color);
    display: flex;
    justify-content: center;
    align-items: center;
    > li {
      padding: 0 5px;
      > a {
        height: 32px;
        min-width: 32px;
        padding: 0;
        text-align: center;
        line-height: 32px;
        display: block;
        color: var(--gen-blog-item-color);
      }
    }
    .active {
      > a {
        height: 32px;
        min-width: 32px;
        padding: 0;
        text-align: center;
        line-height: 32px;
        display: block;
        color: var(--gen-button-text);
        font-weight: 500;
        border-radius: 8px;
        border: 1px solid var(--gen-button-text);
        text-transform: uppercase;
        cursor: default;
      }
    }
    .prev {
      margin-right: auto;
    }
    .next {
      margin-left: auto;
    }
  }
}

.block {
  margin-bottom: 12px;
  background-color: var(--gen-blog-item-background);
  border-radius: 10px;
  &_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
    padding: 16px 0 12px;
    border-bottom: 1px solid color-mix(in srgb, var(--gen-blog-item-background), #fff 20%);
    &_container {
      display: flex;
      -moz-column-gap: 20px;
      column-gap: 20px;
      row-gap: 8px;
      align-items: baseline;
      &_title {
        margin: 0;
        font-size: .8125rem;
        letter-spacing: .0625rem;
        line-height: 1.25rem;
        text-transform: uppercase;
        font-weight: 400;
        color: var(--gen-blog-item-color);
      }
    }
  }
  &_body {
    padding: 24px 20px;
    font-size: .875rem;
    line-height: 1.5;
    color: var(--gen-blog-item-color);
    &_user {
      &_avatar {
        border-bottom: 1px solid color-mix(in srgb, var(--gen-blog-item-background), #fff 10%);
        padding-bottom: 24px;
        margin-bottom: 24px;
        img {
          max-width: 100%;
          border: 1px solid color-mix(in srgb, var(--gen-blog-item-background), #fff 40%);
          display: block;
          width: 150px;
          margin: 0 auto;
        }
      }
      &_range {
        text-align: center;
      }
      &_info {
        margin: 0;
        margin-top: 12px;
        list-style: none;
        padding: 0;
        > li {
          border-top: 1px solid color-mix(in srgb, var(--gen-blog-item-background), #fff 10%);
          padding: 12px 0;
          &:first-of-type {
            border-top: none;
          }
          &:last-of-type {
            padding-bottom: 0;
          }
        }
      }
    }
    &_category_list {
      list-style: none;
      margin: 0;
      padding: 0;
      line-height: 1.125rem;
      font-size: .8125rem;
      &_item {
        margin-top: 18px;
        padding: 18px 0 0;
        border-top: 1px solid color-mix(in srgb, var(--gen-blog-item-background), #fff 10%);
        &:first-of-type {
          padding: 0;
          margin-top: 0;
          border: none;
        }
        > a {
          display: block;
          font-size: .875rem;
          font-weight: 500;
          line-height: 1.3125rem;
          color: var(--gen-blog-item-color);
        }
      }
    }
    &_article_list {
      list-style: none;
      margin: 0;
      padding: 0;
      line-height: 1.125rem;
      font-size: .8125rem;
      &_item {
        margin-top: 18px;
        padding: 18px 0 0;
        border-top: 1px solid color-mix(in srgb, var(--gen-blog-item-background), #fff 10%);
        &:first-of-type {
          padding: 0;
          margin-top: 0;
          border: none;
        }
        > article {
          > h2 {
            font-size: 1rem;
            font-weight: 500;
            line-height: 1;
            overflow-x: auto;
            word-break: break-word;
            > a {
              display: block;
              font-size: .875rem;
              font-weight: 500;
              line-height: 1.3125rem;
              color: var(--gen-blog-item-color);
            }
          }
        }
        &_data {
          align-items: center;
          display: flex;
          margin-top: 12px;
          &_item {
            margin-left: 32px;
            align-items: center;
            display: flex;
            &:first-of-type {
              margin-left: 0;
            }
            .block_body_article_list_item_data_item_icon_wrapper {
              color: var(--gen-blog-item-data-color);
              font-size: 12px;
              align-items: center;
              display: flex;
              outline: none;
              border: none;
              background: none;
              padding: 0;
              margin: 0;
              > span {
                display: block;
                margin-left: 5px;
                color: color-mix(in srgb,var(--gen-blog-item-data-color), #000 40%);
                font-weight: 700;
              }
            }
            &_icon {
              fill: currentColor;
              overflow: hidden;
              stroke: inherit;
              width: 20px;
              height: 20px;
            }
          }
        }
      }
    }
  }
}

.comment-wrapper {
  background-color: var(--gen-blog-item-background);
  padding: 10px 20px;
  color: var(--gen-blog-item-color);
  border-radius: 10px;
  .comments {
    margin: 0 0 10px 0;
    .title-block {
      padding: 16px 0 12px;
      border-bottom: 1px solid color-mix(in srgb, var(--gen-blog-item-background), #fff 20%);
      margin-bottom: 12px;
      h3 {
        margin: 0;
        font-size: .8125rem;
        letter-spacing: .0625rem;
        line-height: 1.25rem;
        text-transform: uppercase;
        font-weight: 400;
        color: var(--gen-blog-item-color);
      }
      .title-separator {
        display: none;
      }
    }
    .comment {
      .comment-content {
        border: none;
        border-radius: 0;
        background: color-mix(in srgb, var(--gen-blog-item-background), #fff 5%);
        box-shadow: none;
      }
      .reply-comment-btn {
        color: var(--gen-blog-item-color);
      }
      .pull-right {
        color: var(--gen-blog-item-color);
      }
      .comment-date {
        color: color-mix(in srgb, var(--gen-blog-item-background), #fff 40%);
      }
    }
    .comment-box {
      .comment-box-partial {
        .comment-submit {
          @extend .btn;
          color: var(--gen-button-text) !important;
          padding: 6px 20px;
          &:hover {
            color: var(--gen-button) !important;
          }
        }
      }
    }
    a {
      color: color-mix(in srgb, var(--gen-blog-item-background), #fff 60%);
    }
    .comment-author-avatar {
      > img {
        border-color: color-mix(in srgb, var(--gen-blog-item-background), #fff 40%);
      }
    }
  }
}

.user_range {
  padding: 10px 20px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  border-radius: 10px;
  &_1 {
    background: #27ae60;
  }
  &_2 {
    background: #16a085;
  }
  &_3 {
    background: #2980b9;
  }
  &_4 {
    background: #8e44ad;
  }
  &_5 {
    background: #d35400;
  }
}