@font-face {
    font-weight: 300;
    font-family: "Gotham";
    font-style: normal;
    src: url(../fonts/Gotham-Light_Web.52135bfa.woff2) format("woff2"), url(../fonts/Gotham-Light_Web.001d3ecf.woff) format("woff")
}

@font-face {
    font-weight: 400;
    font-family: "Gotham";
    font-style: normal;
    src: url(../fonts/Gotham-Book_Web.7fa96aa0.woff2) format("woff2"), url(../fonts/Gotham-Book_Web.cbe772b0.woff) format("woff")
}

@font-face {
    font-weight: 700;
    font-family: "Gotham";
    font-style: normal;
    src: url(../fonts/Gotham-Bold_Web.d23d96ae.woff2) format("woff2"), url(../fonts/Gotham-Bold_Web.a9c4b82b.woff) format("woff")
}

@font-face {
    font-weight: 800;
    font-family: "Gotham";
    font-style: normal;
    src: url(../fonts/Gotham-Ultra_Web.fe1fc9ae.woff2) format("woff2"), url(../fonts/Gotham-Ultra_Web.6e817237.woff) format("woff")
}

@font-face {
    font-weight: 900;
    font-family: "Gotham";
    font-style: normal;
    src: url(../fonts/Gotham-Black_Web.a772a67e.woff2) format("woff2"), url(../fonts/Gotham-Black_Web.b80aacb6.woff) format("woff")
}

@font-face {
    font-weight: 400;
    font-family: "DIN Pro";
    font-style: normal;
    src: url(../fonts/DINPro-CondensedRegular.aa661f4d.woff2) format("woff2"), url(../fonts/DINPro-CondensedRegular.98ce3fd4.woff) format("woff")
}

@font-face {
    font-weight: 400;
    font-family: "Rouble";
    src: url(../fonts/rouble.cc3e0a35.ttf) format("truetype")
}

@font-face {
    font-weight: 700;
    font-family: "Rouble";
    src: url(../fonts/rouble-bold.4d9dfbeb.ttf) format("truetype")
}